<!DOCTYPE html>
<html>
  <head>
    <title>Ford Vision - Image Uploader</title>
    <link rel="stylesheet" href="/css/foundation.min.css">
    <style>
      body: {
        margin: 0;
        padding: 0;
      }
      #map {
        height: calc(100vh - 80px);
        width: 100vw;
        overflow: auto;
      }
      #message {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 80px;
        line-height: 80px;
        text-align: center;
        border-top: 1px solid rgba(10,10,10,.25);
        background: #def2f8;
        box-sizing: border-box;
        z-index: 9999;
      }
      .image {
        height: 10vh;
        min-height: 120px;
        width: auto;
        position: fixed;
        bottom: 115px;
        left: 10px;
        z-index: 9999;
        border: 5px solid #fff;
        box-shadow: 1px 1px 3px rgba(0,0,0,.4);
      }
      .image img {
        height: 100%;
        width: auto;
      }

    </style>

  </head>

  <body>
    <div id="message"> Please hold while we find your location </div>

    <div class="image">
      <%- photo.imageTag %>
    </div>

    <div id="map"> </div>


    <script>
      const photoJSON = <%- JSON.stringify(photo) %>
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcj2TtCDuC1BGnpWWuR4TiyGMVB-7fOd0"></script>
    <script src="/js/geo.js" charset="utf-8"></script>
  </body>
</html>
